<div id="customerLoginForm" data-login-form v-if="loginHelper.isLoginFormVisible">

  {% include 'loading-indicator' %}

  <transition name="fade">
    <div v-if="ready" class="wrapper">
      {% form 'customer_login' %}
        <div v-if="loginHelper.status" :class="{ 'alert alert-success': loginHelper.status === 'enabled' || loginHelper.status === 'other', 'alert alert-warning': loginHelper.status === 'disabled' || loginHelper.status === 'unregistered' || loginHelper.status === 'invited' }" role="alert">
          <span v-html="loginHelper.message"></span>
        </div>

        {% if form.errors %}
        <div class="alert alert-warning shopify-warning" role="alert">
          {{ form.errors | default_errors }}
        </div>
        {% endif %}

        <div class="form-group input-group">
         
          <input type="email" id="customerEmail" name="customer[email]" aria-label="email" class="form-control" v-model="loginHelper.customerEmail" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" required>
        </div>

        <div v-if="loginHelper.settings.type === 'default' && loginHelper.status === 'enabled'" class="form-group input-group">
          <input type="password" id="customerPassword" name="customer[password]" aria-label="password" class="form-control" placeholder="{{ 'customer.login.password' | t }}">
        </div>

        <button class="btn btn-primary btn-block d-flex align-items-center w-100 justify-content-center"
          type="submit"
          name="sign-in"
          @click.prevent="_submitLoginHelperForm($event)">
            <template v-if="isLoading">
              <span class="spinner-border spinner-border-sm pr-2" role="status" aria-hidden="true"></span> {{ 'general.wait' | t }}
            </template>
            <template v-else>
              {{ 'customer.login.sign_in' | t }}
            </template>
        </button>

        <p v-if="loginHelper.status === 'enabled'" class="text-right mt-2 font-italic">
          <a data-recover-link href="#recover">{{ 'customer.login.forgot_password' | t }}</a>
        </p>

      {% endform %}
    </div>
  </transition>

</div>
