{%- if section.settings.enabled -%}
<section data-section-id="{{ section.id }}" class="header-slider bg-gray-100">
  {% comment %}Carousel for larger screens {% endcomment %}
  <div class="carousel carousel-desktop autoheight d-none d-sm-block" v-if="isMobileDevice == false" role="tree"
        data-header-slider
        data-flickity='{
          "adaptiveHeight": true,
          "contain": true,
          "fade": true,
          "lazyLoad": true,
          "autoPlay": true,
          "wrapAround": false,
          "groupCell": false,
          "prevNextButtons": {{section.settings.nav_arrows}},
          "pageDots": {{section.settings.nav_dots}},
          {% if section.settings.auto_play > 0 %}"autoPlay": {{section.settings.auto_play}}000,{% endif %}
          "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
        }'>

  	 {% for block in section.blocks limit: section.blocks.limit %}
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}

        
        <a href="{% if block.settings.btn_link %}{{ block.settings.btn_link }} {% else %}#{% endif %}" class="carousel-cell d-flex align-items-center justify-content-center w-100 bg-dark"
             role="treeitem" {{ block.shopify_attributes }}
             data-block-id="{{ block.id }}"
             data-slide-type="image">

          {% if block.type == 'image' %}
            {% if block.settings.image == blank %}
              {{'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg'}}
            {% else %}
              <img
                data-sizes="auto"
                src="{{ block.settings.image | img_url: 'small'}}"
                data-srcset="
                  {{ block.settings.image | img_url: '768x' }} 567w,
                  {{ block.settings.image | img_url: '992x' }} 768w,
                  {{ block.settings.image | img_url: '1200x' }} 992w,
                  {{ block.settings.image | img_url: '1920x' }} 1200w,
                  {{ block.settings.image | img_url: '2560x' }} 1920w{% if block.settings.ratina_image != blank %},
                  {{ block.settings.ratina_image | img_url: '3840x' }} 1921w,
                  {{ block.settings.ratina_image | img_url: '5120x' }} 2560w{% endif%}
                  "
                class="lazyload img-fluid" alt="{{ shop.name | escape }}" />
            {% endif %}
          {% endif %}

          
          {% if block.settings.heading !=  blank or block.settings.caption !=  blank %}
            <div class="slider-content w-100">
              <div class="container-fluid {{block.settings.alignment}}">
                <div class="row">
                  <div class="col-12">
                    <h2 class="display-3 px-4 px-md-0" style="color: {{block.settings.heading_txt_color}};">{{ block.settings.heading | escape }}</h2>
                    <h3 class="px-4 px-md-0" style="color: {{ block.settings.caption_txt_color }};">{{ block.settings.caption | escape }}</h3>
                    {% if block.settings.btn_txt != '' %}
                      <p class="btn btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }} mt-3">{{ block.settings.btn_txt }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          
          {% if block.settings.enable_overlay %}
            <div class="overlay" style="background-color: {{ block.settings.overlay_bg_color }}!important; opacity: {{block.settings.overlay_opacity}}!important; {% unless block.settings.overlay_pattern_img == 'none' %}background-image: url({{ block.settings.overlay_pattern_img | append: '.png' | asset_url }}){% endunless %} "></div>
          {% endif %}
        </a>
    {% endfor %}
  </div>

  {% comment %}Carousel for smaller screens {% endcomment %}
  <div class="carousel carousel-mobile autoheight d-block d-sm-none w-100" v-else role="tree"
        data-flickity='{
          "adaptiveHeight": true,
          "contain": true,
          "fade": true,
          "lazyLoad": true,
          "wrapAround": false,
          "groupCell": false,
          "prevNextButtons": {{section.settings.nav_arrows}},
          "pageDots": {{section.settings.nav_dots}},
          {% if section.settings.auto_play > 0 %}"autoPlay": {{section.settings.auto_play}}000,{% endif %}
          "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
        }'>

  	 {% for block in section.blocks limit: section.blocks.limit %}
        <div class="carousel-cell d-flex align-items-center justify-content-center w-100 bg-dark"
             role="treeitem" {{ block.shopify_attributes }}
             data-block-id="{{ block.id }}">

          {%- if block.settings.image_mobile != blank -%}
            <img
              data-sizes="auto"
              src="{{ block.settings.image_mobile | img_url: 'pico'}}"
              data-src="{{ block.settings.image_mobile | img_url: '575x' }}"
              class="img-fluid lazyload" alt="{{ shop.name | escape }}" />
          {%- else -%}
            <img
              data-sizes="auto"
              src="{{ block.settings.image | img_url: 'pico'}}"
              data-src="
                {{ block.settings.image | img_url: '575x' }}
                "
              class="lazyload img-fluid" alt="{{ shop.name | escape }}" />
          {%- endif -%}

          
          {% if block.settings.heading !=  blank or block.settings.caption !=  blank %}
            <div class="container-fluid {{block.settings.alignment}}">
              <div class="row">
                <div class="col-12 px-3 pt-4 pb-5">
                  <h2 class="h1">{{ block.settings.heading | escape }}</h2>
                  <h3 class="mb-3">{{ block.settings.caption | escape }}</h3>
                  {% if block.settings.btn_txt != '' %}
                    <a {% if block.settings.btn_link %} href="{{ block.settings.btn_link }}" {% endif %} class="btn btn-primary mb-2">{{ block.settings.btn_txt }}</a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        
        </div>
    {% endfor %}
  </div>

</section>
{%- endif -%}

{%- if section.settings.enable_section-%}
<section class="online-catalog mt-2">
    <div class="row no-gutters bg-gray-200 text-right">
      <div class="col-ex-lg-8">
          <div class="left-content text-md-left text-center d-md-flex align-items-center position-relative py-4 pr-ex-lg-8 justify-content-ex-lg-end justify-content-center zindex-sticky"> 
            {%- if section.settings.ship_txt != '' -%}
              <div class="d-flex align-items-center justify-content-md-start justify-content-center mr-md-3 mb-md-0 mb-3">
                <i class="fas fa-shipping-fast pr-2 font-size-lg"></i>
                <span class="font-weight-bold font-size-md">{{- section.settings.ship_txt -}}</span>
              </div>
            {%- endif -%}
            {%- if section.settings.cash_txt != '' -%}
              <div class="d-flex align-items-center justify-content-md-start justify-content-center mr-md-3 mb-md-0 mb-3">
                <i class="fas fa-dollar-sign pr-2 font-size-lg"></i>
                <a href="{%- if section.settings.cash_link != blank -%}{{section.settings.cash_link}}{%- else -%}#{%- endif -%}" class="px-xxl-2 border-bottom border-gray-700 text-gray-700 font-weight-bold font-size-md">{{- section.settings.cash_txt -}}</a>
              </div>
            {%- endif -%}
            {%- if section.settings.current_txt != '' -%}
              <div class="d-flex align-items-center justify-content-md-start justify-content-center mr-md-3 mb-md-0 mb-3">
                <i class="fas fa-search-dollar pr-2 font-size-lg"></i>
                <a href="{%- if section.settings.current_link != blank -%}{{section.settings.current_link}}{%- else -%}#{%- endif -%}" class="px-xxl-2 border-bottom border-gray-700 text-gray-700 font-weight-bold font-size-md">{{- section.settings.current_txt -}}</a>
              </div>
            {%- endif -%}
             {%- if section.settings.sales_txt != '' -%}
              <div class="d-flex align-items-center justify-content-md-start justify-content-center mr-md-3 mb-md-0 mb-3">
                <i class="fas fa-hand-holding-usd pr-2 font-size-lg"></i>
                <a href="javascript:void(0)" class="px-xxl-2 border-bottom  text-gray-700 font-weight-bold font-size-md">{{- section.settings.sales_txt -}}</a>
              </div>
            {%- endif -%}
          </div>
      </div>
      <div class="col-ex-lg-4">
        {%- if section.settings.catalog_title != '' -%}
        <div class="py-4 pl-ex-lg-10 text-ex-lg-left text-center view-catalog position-relative zindex-sticky">
          <div class="position-relative mobile-position">
            <a href="{%- if section.settings.catalog_link != blank -%}{{section.settings.catalog_link}}{%- else -%}#{%- endif -%}" class="text-white font-weight-bold">{{- section.settings.catalog_title -}}
            {%- if section.settings.choose_catalog != blank -%}
            <img class="position-absolute lazyload" src="{{ section.settings.choose_catalog | img_url: 'pico' }}" data-src="{{ section.settings.choose_catalog | img_url: '200x' }}" alt="{{- section.settings.catalog_title -}}" />
            {%- endif -%}
            </a>
          </div>
        </div>
        {%- endif -%}
      </div>
    </div>
</section>
{%- endif -%}

{% schema %}
  {
    "name": "Header Slider",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "checkbox",
        "id": "enabled",
        "label": "Enabled?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "nav_arrows",
        "label": "Arrows Navigation",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "nav_dots",
        "label": "Dots Navigation",
        "default": true
      },
      {
        "type": "range",
        "id": "auto_play",
        "label": "Autoplay",
        "info": "Duration of animation between slides (in seconds). Select the value of 0 if you don't want the slider to autoplay.",
        "min": 0,
        "max": 10,
        "step": 1,
        "default": 0
      },
      {
        "type": "header",
        "content": "Note Content"
      },
      {
        "type": "checkbox",
        "id": "enable_section",
        "label": "Enable Section"
      },
      {
        "type": "textarea",
        "id": "ship_txt",
        "label": "Shipping Text",
        "default": "Over $100 = free ground shipping"
      },
      {
        "type": "text",
        "id": "cash_txt",
        "label": "Cash Text",
        "default": "Get cash for used avionics"
      },
      {
        "type": "url",
        "id": "cash_link",
        "label": "Cash Link"
      },
      {
        "type": "text",
        "id": "current_txt",
        "label": "Current Special Text",
        "default": "Current Specials/Rebates"
      },
      {
        "type": "url",
        "id": "current_link",
        "label": "Current Special Link"
      },
      {
        "type": "text",
        "id": "sales_txt",
        "label": "No sales Tax"
      },
      {
        "type": "header",
        "content": "Catalog Content"
      },
      {
        "type": "image_picker",
        "id": "choose_catalog",
        "label": "Choose Image"
      },
      {
        "type": "text",
        "id": "catalog_title",
        "label": "Title",
        "default": "View our Online Catalog"
      },
      {
        "type": "url",
        "id": "catalog_link",
        "label": "Choose Link"
      }
    ],
    "blocks": [{
      "type": "image",
      "name": "Image Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "ratina_image",
          "label": "Select Image for Large Desktop"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Image for Desktop"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Select Image for Mobile"
        },
		{
          "type": "header",
          "content": "Content"
        },
		{
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [{
              "value": "text-center",
              "label": "Center"
            },
            {
              "value": "text-left",
              "label": "Left"
            },
            {
              "value": "text-right",
              "label": "Right"
            }
          ],
          "default": "text-center"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Caption"
        },
		{
          "type": "header",
          "content": "Styling"
        },
        {
          "type": "color",
          "id": "heading_txt_color",
          "label": "Heading Color"
        },
        {
          "type": "color",
          "id": "caption_txt_color",
          "label": "Caption Color"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "btn_txt",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [{
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "",
              "label": "Solid"
            }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "accent",
              "label": "Accent"
            },
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [{
              "value": "",
              "label": "Default"
            },
            {
              "value": "btn-sm",
              "label": "Small"
            },
            {
              "value": "btn-lg",
              "label": "Large"
            }
          ],
          "default": ""
        },
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "type": "checkbox",
          "id": "enable_overlay",
          "label": "Enabled?",
          "default": true
        },
        {
          "type": "color",
          "id": "overlay_bg_color",
          "label": "Overlay Background Color",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay Opacity",
          "min": 0.1,
          "max": 1,
          "step": 0.1,
          "default": 0.5
        },
        {
          "type": "select",
          "id": "overlay_pattern_img",
          "label": "Overlay Pattern Image",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "overlay-pattern-1",
              "label": "Pattern 1"
            },
            {
              "value": "overlay-pattern-2",
              "label": "Pattern 2"
            },
            {
              "value": "overlay-pattern-3",
              "label": "Pattern 3"
            },
            {
              "value": "overlay-pattern-4",
              "label": "Pattern 4"
            },
            {
              "value": "overlay-pattern-5",
              "label": "Pattern 5"
            },
            {
              "value": "overlay-pattern-6",
              "label": "Pattern 6"
            },
            {
              "value": "overlay-pattern-7",
              "label": "Pattern 7"
            }
          ],
          "default": "none"
        }
      ]
    }],
    "default": {
      "settings": {},
      "blocks": [{
          "type": "image"
        }
      ]
    }
  }
{% endschema %}
