{% assign productExcludeTag = settings.product_exclude_tag_text %}

<section class="section-content">
  <div class="container">

    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="fancy-heading active">
                <h1 class="font-weight-bold letter-spacing text-uppercase text-primary mb-3 mb-md-8">{{ page_title }}</h1>
                <h3 class="text-muted">{{ collection.description }}</h3>
            </div>
        </div>
    </div>
    {% for collection in collections limit: 10 %}
      {% if collection.products.count > 0 %}

        <div class="row no-gutters my-5">
          <div class="col">

          {% unless collection.handle == 'frontpage' %}

            <div class="d-flex justify-content-between align-items-center">
              <h3 class="">{{ collection.title }}</h3>
              <a href="{{ collection.url }}" class="font-italic primary-link font-weight-bold" title="{{ 'collections.general.link_title' | t: title: title }}">
                View All <i class="fas fa-arrow-right"></i>
              </a>
            </div>

            <hr>

            <div class="carousel mb-md-5" role="tree"
               data-flickity='{
                 "adaptiveHeight": true,
                 "contain": true,
                 "wrapAround": false,
                 "freeScroll": false,
                 "groupCells": "100%",
                 "cellAlign": "left",
                 "accessibility": true,
                 "setGallerySize": true,
                 "dragThreshold": 20,
                 "prevNextButtons": false,
                 "pageDots": true,
                 "arrowShape": {"x0": 10, "x1": 60, "y1": 50, "x2": 60, "y2": 45, "x3": 15}
               }'>

                {% for product in collection.products limit: 9 %}
                  {% unless product.tags contains productExcludeTag %}
                  <script type="application/json" class="bold-product-json">{{ product | json }}</script>
                    <div class="carousel-cell d-flex equal-height col-6 col-lg-3 col-xl-2 p-2" role="treeitem">
                      {% include 'card-product-style-generic' %}
                    </div>
                  {% endunless %}
                {% endfor %}
            </div>
          {% endunless %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
