{% if section.blocks.size > 0 %}
<div class="section-content" data-section-id="{{ section.id }}" >
        
        {% if section.settings.heading != '' %}
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-12 text-center">
                    <div class="row mb-md-7 mb-4">
                        <div class="position-relative d-flex justify-content-between align-items-center w-100 logo-dashed-border">
                            <h2 class="letter-spacing-normal display-4 section-title d-inline-block mb-0 font-weight-normal px-3 zindex-sticky position-relative">{{ section.settings.heading }}</h2>
                            <div class="logo-border-image" id="logo-border-image">
                                <span class="animation-main-manufacturers start-animation-manufacturers"></span>
                                <img src="https://cdn.shopify.com/s/files/1/0541/8313/3361/files/Plane.svg?v=1646299224" alt="">
                            </div>
                            <h6 class="text-uppercase text-primary font-weight-bold letter-spacing-1 mb-0 d-none d-md-block"><a class="text-primary" href="{{section.settings.collection_URL}}">view all</a></h6>
                            <!-- <span class="d-md-block d-none w-100 border-bottom border-primary position-absolute top-left-50" style="border-width: 3px !important;"></span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        {% endif %}
        <div class="featured-products-wrap">
            <div class="row">
                <div class="col-lg-12 col-md-11 col-10 mx-auto">
                    <div class="logo-list row carousel" data-flickity='{
                            "cellAlign": "center",
                            "contain": true,
                            "groupCells": "80%",
                            "prevNextButtons": {{section.settings.nav_arrows}},
                            "pageDots": {{section.settings.nav_dots}},
                            "arrowShape":  {"x0": 10, "x1": 60, "y1": 50, "x2": 70, "y2": 40, "x3": 30},
                            {% if section.settings.auto_play > 0 %}"autoPlay": {{ section.settings.auto_play }}000,{% endif %}
                            "wrapAround": false
                        }'>
                        {% for block in section.blocks %}
                            <div class="text-center col-xl-2 col-lg-3 col-md-3  col-6 carousel-cell equal-height align-items-center d-flex justify-content-center"> 
                                <a class="logo-wrapper" href="{%- if block.settings.logo_url != blank -%}{{block.settings.logo_url}}{%- else -%}#{%- endif -%}">
                                    {% if block.settings.logo_img == '' %} 
                                        {{ 'image' | placeholder_svg_tag: 'border-gray-300 border bg-gray-100 ' }}
                                    {% else %}
                                        <img  src="{{ block.settings.logo_img | img_url: 'pico' }}" data-src="{{ block.settings.logo_img | img_url: 'medium' }}" alt="{{shop.name | escape}}" class="mw-100 lazyload"/> 
                                    {% endif %} 
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>    
        <div class="row justify-content-center d-md-none pt-7">
            <div class="col-12 pl-3">
                <h6 class="text-uppercase text-primary font-weight-bold letter-spacing-1 mb-0 pl-3">view all</h6>
            </div>
        </div>
 
</div>
{% endif %}

<style>
  .logo-border-image span{
  display: block !important;
  }
</style>

{% schema %}
    {
        "name": "Logo List Style",
        "class": "clearfix",
        "settings": [
            {
                "type": "header",
                "content": "Content"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading Text",
                "default": "Awesome Heading"
            },
            {
                "type": "url",
                "id": "collection_URL",
                "label": "Add URL"
            },
            {
                "type": "header",
                "content": "Carousel Option"
            },
            {
                "type": "checkbox", 
                "id": "nav_arrows",
                "label": "Arrows Navigation",
                "default": true 
            },
            {
                "type": "checkbox",
                "id": "nav_dots",
                "label": "Dots Navigation",
                "default": true
            },
            {
                "type": "range",
                "id": "auto_play",
                "label": "Autoplay",
                "info": "Duration of animation between slides (in seconds). Select the value of 0 if you don't want the slider to autoplay.",
                "min": 0,
                "max": 10,
                "step": 1,
                "default": 0
            }
        ],
        "presets": [
            {
                "name": "Logo List Style 1",
                "category": "Content"
            }
        ],
        "blocks": [
            {
                "type": "content",
                "name": "Logo Item",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "logo_img",
                        "label": "Image"
                    },
                    {
                        "type": "url",
                        "id": "logo_url",
                        "label": "url"
                    }
                ]
            }
        ]
    }
{% endschema %}

