{%- if section.settings.image != blank -%}
<div class="page-banner">
    <img
    data-sizes="auto"
    src="{{ section.settings.image | img_url: 'small'}}"
    data-srcset="
      {{ section.settings.image | img_url: '768x' }} 567w,
      {{ section.settings.image | img_url: '992x' }} 768w,
      {{ section.settings.image | img_url: '1200x' }} 992w,
      {{ section.settings.image | img_url: '1920x' }} 1200w,
      {{ section.settings.image | img_url: '2560x' }} 1920w{% if section.settings.ratina_image != blank %},
      {{ section.settings.ratina_image | img_url: '3840x' }} 1921w,
      {{ section.settings.ratina_image | img_url: '5120x' }} 2560w{% endif%}
    "
    class="lazyload mw-100 img-wrapper d-none d-sm-block" alt="{{ page.title | escape }}" />

    {%- if section.settings.image_mobile != blank -%}
    <img
        data-sizes="auto"
        src="{{ section.settings.image_mobile | img_url: 'pico'}}"
        data-src="{{ section.settings.image_mobile | img_url: '575x' }}"
        class="mw-100 img-wrapper lazyload d-sm-none" alt="{{ page.title | escape }}" />
    {%- else -%}
    <img
        data-sizes="auto"
        src="{{ section.settings.image | img_url: 'pico'}}"
        data-src="
        {{ section.settings.image | img_url: '575x' }}
        "
        class="lazyload mw-100 img-wrapper d-sm-none" alt="{{ page.title | escape }}" />
    {%- endif -%}
</div>
{%- endif -%}

<div class="pt-7 pt-md-10">
    <div class="container">
        <div class="row">
          {%- if section.settings.customer_enable or section.settings.feedback_enable -%}
          <div class="col-sm-10 mx-auto col-md-4 pr-xl-9 mt-4 mt-md-0 order-2 order-md-1">
              {%- if section.settings.customer_enable -%}
              <a href="{%- if section.settings.customer_url != blank -%}{{section.settings.customer_url}}{%- else -%}#{%- endif -%}" class="bg-primary d-block px-4 py-5 py-md-6 text-center text-white mb-5">
                  <h3 class="font-weight-bold text-uppercase letter-spacing mb-md-4">{{- section.settings.customer_heading -}}</h3>
                  <span>{{- section.settings.customer_caption -}}</span>
              </a>
              {%- endif -%}
              {%- if section.settings.feedback_enable -%}
              <a href="{%- if section.settings.feedback_url != blank -%}{{section.settings.feedback_url}}{%- else -%}#{%- endif -%}" class="border border-2 border-primary d-block px-4 py-5 py-md-6 rounded text-center">
                  <h3 class="font-weight-bold text-uppercase letter-spacing-1 text-primary mb-md-4">{{- section.settings.feedback_heading -}}</h3>
                  <p class="mb-0 text-primary">{{- section.settings.feedback_caption -}}</p>
              </a>
              {%- endif -%}
          </div>
          {%- endif -%}

          <div class="col-md-8 pl-lg-7 order-1 order-md-2">
            <h1 class="font-weight-bold letter-spacing text-uppercase text-primary mb-3 mb-md-8">{{page.title}}</h1>
            <div>
              {{ page.content }}
            </div>
          </div>

        </div>
    </div>
</div>

{%- if section.settings.enable_form -%}
<div class="pt-7">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 mx-auto">
        <div class="repair-form contact-form">
          <div style="margin:0 auto;" class="pxFormGenerator" id="lvkOXMG0WkwlRNonagJyRQ"></div>
          <div class="form-footer d-none d-lg-block">
            <span class="line"></span>
            <span class="plan-img"><img src="https://cdn.shopify.com/s/files/1/0536/9023/7078/files/plane-icon-red.png?v=1618824616" style="max-width: 42px;"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif -%}

{%- if section.settings.map_enable and section.settings.map_url != '' -%}
<div class="position-relative">
  <iframe src="{{section.settings.map_url}}" width="100%" height="450" class="d-block" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  {% if section.settings.loc_enable %}
  <section class="location-information-section rounded-0 position-absolute bg-white d-md-block d-none">
    <div class="location-box px-5 py-4">
      <h3 class="text-uppercase letter-spacing text-primary font-weight-bold">{{ section.settings.loc_title }}</h3>
      <div class="address-content">
        {% if section.settings.loc_sub_title != '' %}<div>{{ section.settings.loc_sub_title }}</div>{% endif %}
        {% if section.settings.loc_address != '' %}
        <div class="address d-inline-flex align-items-center my-3">
            <i class="fas fa-map-marker-alt pr-4 text-primary" style="width: 40px;"></i>
            <p class="mb-0">
              {{ section.settings.loc_address}}
            </p>
        </div>
        {% endif %}

        <div class="button-section d-flex align-items-center">
          <a class="d-block mr-3" href="{% if section.settings.loc_map_url != '' %}{{section.settings.loc_map_url}}{%- else -%}#{%- endif -%}" target="_blank">See it on a map »</a>
          <a class="d-none mr-0" href="{% if section.settings.loc_other != '' %}{{section.settings.loc_other}}{%- else -%}#{%- endif -%}">Other Locations »</a>
        </div>

      </div>
    </div>
  </section>
  {% endif %}
</div>
{%- endif -%}


<div class="row no-gutters">

  {%- if section.settings.driving_enable -%}
    <div class="col-md-6">
      <a href="{%- if section.settings.driving_url != blank -%}{{section.settings.driving_url }}{%- else -%}#{%- endif -%}" 
      class="about-feature-item d-block text-center text-white py-10 position-relative h-100 px-4" 
      {% if section.settings.driving_img != blank %}style="background-image: url({{section.settings.driving_img | img_url: 'grande' }});" {% endif %}>
        <div class="position-relative zindex-sticky">
          {% if section.settings.driving_title != '' %}
          <h3 class="font-weight-bold text-uppercase">{{ section.settings.driving_title }}</h3>
          {% endif %}
          {% if section.settings.driving_caption != '' %}
          <div>
            {{ section.settings.driving_caption }}
          </div>
          {% endif %}
        </div>
      </a>
  </div>
  {%- endif -%}

  {%- if section.settings.flying_enable -%}
    <div class="col-md-6">
      <a href="{%- if section.settings.flying_url != blank -%}{{section.settings.flying_url }}{%- else -%}#{%- endif -%}" 
      class="about-feature-item d-block text-center text-white py-10 position-relative h-100 px-4" 
      {% if section.settings.flying_img != blank %}style="background-image: url({{section.settings.flying_img | img_url: 'grande' }});" {% endif %}>
        <div class="position-relative zindex-sticky">
          {% if section.settings.flying_title != '' %}
          <h3 class="font-weight-bold text-uppercase">{{ section.settings.flying_title }}</h3>
          {% endif %}
          {% if section.settings.flying_caption != '' %}
          <div>
            {{ section.settings.flying_caption }}
          </div>
          {% endif %}
        </div>
      </a>
  </div>
  {%- endif -%}

</div>

{% schema %}
    {
      "name": "Contact",
      "settings": [
        {
            "type": "header",
            "content": "Banner Content"
        },
        {
            "type": "image_picker",
            "id": "ratina_image",
            "label": "Select Image for Large Desktop"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image for Desktop"
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Select Image for Mobile"
        },
        {
            "type": "header",
            "content": "Customer Support"
        },
        {
            "type": "checkbox",
            "id": "customer_enable",
            "label": "Enable"
        },
        {
            "type": "text",
            "id": "customer_heading",
            "label": "Heading Text",
            "default": "Customer Support"
        },
        {
            "type": "textarea",
            "id": "customer_caption",
            "label": "Caption",
            "default": "Have specific questions about your order?"
        },
        {
            "type": "url",
            "id": "customer_url",
            "label": "Choose URL"
        },
        {
            "type": "header",
            "content": "Feedback"
        },
        {
            "type": "checkbox",
            "id": "feedback_enable",
            "label": "Enable"
        },
        {
            "type": "text",
            "id": "feedback_heading",
            "label": "Heading Text",
            "default": "Feedback"
        },
        {
            "type": "textarea",
            "id": "feedback_caption",
            "label": "Caption",
            "default": "Give us a review of our services"
        },
        {
            "type": "url",
            "id": "feedback_url",
            "label": "Choose URL"
        },
        {
            "type": "checkbox",
            "id": "enable_form",
            "label": "Enable Form",
            "default": true
        },
        {
            "type": "header",
            "content": "Map"
        },
        {
            "type": "checkbox",
            "id": "map_enable",
            "label": "Map Enable"
        },
        {
          "type": "textarea",
          "id": "map_url",
          "label": "Map URL"
        },
        {
          "type": "header",
          "content": "Location Info."
        },
        {
          "type": "checkbox",
          "id": "loc_enable",
          "label": "Enable"
        },
        {
          "type": "text",
          "id": "loc_title",
          "label": "Title",
          "default": "STOP BY OUR OFFICE"
        },
        {
          "type": "text",
          "id": "loc_sub_title",
          "label": "Sub Title"
        },
        {
          "type": "textarea",
          "id": "loc_address",
          "label": "Address Details"
        },
        {
          "type": "url",
          "id": "loc_map_url",
          "label": "See It On Map Link"
        },
        {
          "type": "url",
          "id": "loc_other",
          "label": "Other Location Link"
        },
        {
          "type": "header",
          "content": "Footer Column 1"
        },
        {
          "type": "checkbox",
          "id": "driving_enable",
          "label": "Enable?"
        },
        {
          "type": "url",
          "id": "driving_url",
          "label": "Choose URL"
        },
        {
            "type": "image_picker",
            "id": "driving_img",
            "label": "Choose Image"
        },
        {
          "type": "text",
          "id": "driving_title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "driving_caption",
          "label": "Caption"
        },
        {
          "type": "header",
          "content": "Footer Column 2"
        },
        {
          "type": "checkbox",
          "id": "flying_enable",
          "label": "Enable?"
        },
        {
          "type": "url",
          "id": "flying_url",
          "label": "Choose URL"
        },
        {
            "type": "image_picker",
            "id": "flying_img",
            "label": "Choose Image"
        },
        {
          "type": "text",
          "id": "flying_title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "flying_caption",
          "label": "Caption"
        }
      ]
    }
{% endschema %}