<section class="kit-panels">
    {%- if section.settings.image != blank -%}
    <div class="banner-section">
        <div class="banner-wrapper">
            <img
            data-sizes="auto"
            src="{{ section.settings.image | img_url: 'small'}}"
            data-srcset="
                {% if section.settings.image_mobile != blank %}
                    {{ section.settings.image_mobile | img_url: '768x' }} 567w,
                {% endif%}
                {{ section.settings.image | img_url: '992x' }} 768w,
                {{ section.settings.image | img_url: '1200x' }} 992w,
                {{ section.settings.image | img_url: '1920x' }} 1200w,
                {{ section.settings.image | img_url: '2560x' }} 1920w{% if section.settings.ratina_image != blank %},
                {{ section.settings.ratina_image | img_url: '3840x' }} 1921w,
                {{ section.settings.ratina_image | img_url: '5120x' }} 2560w{% endif%}
                "
            class="lazyload img-wrapper img-fluid" alt="{{ page.title | escape }}" />
        </div>
    </div>
    {%- endif -%}
    <div class="container">
        <div class="section-content pb-0">
            <div class="row">

                <div class="col-sm-10 mx-auto col-md-4 pr-xl-9 mt-4 mt-md-0 order-2 order-md-1">
                    {%- if section.settings.contact_enable -%}
                    <a href="{%- if section.settings.contact_url != blank -%}{{section.settings.contact_url}}{%- else -%}#{%- endif -%}" class="bg-primary d-block px-4 py-5 py-md-6 text-center text-white mb-5">
                        <h3 class="font-weight-bold text-uppercase letter-spacing mb-md-4">{{- section.settings.contact_heading -}}</h3>
                        <span>{{- section.settings.contact_caption -}}</span>
                    </a>
                    {%- endif -%}
                    {%- if section.settings.call_enable -%}
                    <div
                        class="border border-2 border-primary d-block px-4 py-5 py-md-6 rounded text-lg-left text-center mb-5 cursor-pointer">
                        <div class="d-lg-flex d-md-block d-flex align-items-center">
                            {% if section.settings.call_img != blank %}
                            <div class="user-image mb-lg-0 mb-md-3 mb-0">
                                <img src="{{ section.settings.call_img | img_url: '100x'}}"
                                    alt="{{section.settings.call_heading}}"
                                    class="mw-100" />
                            </div>
                            {% endif %}
                            <div class="user-details pl-lg-5 pl-md-0 pl-4">
                                <h3 class="font-weight-bold text-uppercase letter-spacing-1 text-primary mb-md-3">{{section.settings.call_heading}}</h3>
                                {{ section.settings.call_caption }}
                            </div>
                        </div>
                    </div>
                    {%- endif -%}
                    {%- if section.settings.custom_enable -%}
                    <a href="{%- if section.settings.custom_url != blank -%}{{section.settings.custom_url}}{%- else -%}#{%- endif -%}"
                        class="border border-2 border-primary d-block px-4 py-5 py-md-6 rounded text-center cursor-pointer">
                        <h3 class="font-weight-bold text-uppercase letter-spacing-1 text-primary mb-md-4">{{- section.settings.custom_heading -}}</h3>
                        {% if section.settings.custom_caption != '' %}
                        <p class="mb-0 text-primary">{{- section.settings.custom_caption -}}</p>
                        {% endif %}
                    </a>
                    {%- endif -%}
                </div>

                <div class="col-md-8 pl-lg-7 order-1 order-md-2">
                    <h1 class="font-weight-bold letter-spacing text-uppercase text-primary mb-3 mb-md-5">{{ page.title }}</h1>
                    {{- page.content -}}
                </div>

            </div>
        </div>
        {% if section.blocks.size > 0 %}
        <div class="photo-content-information section-content pb-0">
            {% for block in section.blocks %}
                {% if block.settings.enable %}
                <div class="photo-content-row mb-5">
                    {% if block.settings.title != '' %}<h5>{{ block.settings.title }}</h5>{% endif %}
                    <div class="row align-items-start">
                        <div class="col-lg-4 col-md-5 mb-md-0 mb-4">
                            {%- if block.settings.choose_img != blank -%}
                            <img src="{{ block.settings.choose_img | img_url: 'pico'}}"
                              data-src="{{ block.settings.choose_img | img_url: '500x' }} 400w,
                                        {{ block.settings.choose_img | img_url: '600x' }} 500w"
                                alt="{{block.settings.title}}"
                                class="mw-100 img-wrapper lazyload" />
                            {%- endif -%}
                        </div>
                        {% if block.settings.caption != '' %}
                        <div class="col-lg-8 col-md-7">
                            {{ block.settings.caption }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>


{% schema %}
  {
    "name": "Kit Panels Template",
    "settings": [
        {
            "type": "header",
            "content": "Banner Content"
        },
        {
            "type": "image_picker",
            "id": "ratina_image",
            "label": "Select Image for Large Desktop"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image for Desktop"
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Select Image for Mobile"
        },
        {
            "type": "header",
            "content": "Contact Us"
        },
        {
            "type": "checkbox",
            "id": "contact_enable",
            "label": "Enable"
        },
        {
            "type": "text",
            "id": "contact_heading",
            "label": "Heading Text",
            "default": "Contact Us"
        },
        {
            "type": "textarea",
            "id": "contact_caption",
            "label": "Caption",
            "default": "Have specific questions about your order?"
        },
        {
            "type": "url",
            "id": "contact_url",
            "label": "Choose URL"
        },
        {
            "type": "header",
            "content": "Call Today"
        },
        {
            "type": "checkbox",
            "id": "call_enable",
            "label": "Enable"
        },
        {
            "type": "image_picker",
            "id": "call_img",
            "label": "Choose Image"
        },
        {
            "type": "text",
            "id": "call_heading",
            "label": "Heading Text",
            "default": "CALL MATT TODAY!"
        },
        {
            "type": "textarea",
            "id": "call_caption",
            "label": "Caption"
        },
        {
            "type": "header",
            "content": "Custom Kit Panels"
        },
        {
            "type": "checkbox",
            "id": "custom_enable",
            "label": "Enable"
        },
        {
            "type": "text",
            "id": "custom_heading",
            "label": "Heading Text",
            "default": "Custom Kit Panels"
        },
        {
            "type": "textarea",
            "id": "custom_caption",
            "label": "Caption"
        },
        {
            "type": "url",
            "id": "custom_url",
            "label": "Choose URL"
        }
    ],
    "blocks": [{
        "type": "content",
        "name": "Information Item",
        "settings": [
            {
                "type": "header",
                "content": "Content"
            },
            {
                "type": "checkbox",
                "id": "enable",
                "label": "Enable",
                "default": true
            },
            {
                "type": "image_picker",
                "id": "choose_img",
                "label": "Choose Image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "caption",
                "label": "Caption"
            }
        ]
    }]
  }
{% endschema %}
